@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: auto;
        height: 100%;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
    .image-responsive{
        display: block;
        width: 100%;
    }
    .page__header{
        background-image: url(../images/header-2560w.webp);
        background-size: cover;
        background-position: top left;
        padding: 1em;
        min-height: 80vh;
    }
    .page__logo{
        display: block;
        padding: 1em;
        height: 3em;
        aspect-ratio: 21/12;
        margin: 0 auto;
    }

    .h1{
        font-size: 4em;
        margin-bottom: 0;
    }
    .page__intro{
        color: var(--light, white);
        display: block;
        max-width: 50em;    
        margin: 22em auto auto 8em;
    }

    .page__content{
        padding: 1em;
        max-width: 945px;
        margin: 2em auto;
    }


    .button{
        display: inline-block;
        background-color: var(--primary, aqua);
        color: var(--light, white);
        padding: 1em 2em;
        border-radius: 0.5em;
        font-weight: 700;
        text-decoration: none ;
    }
    .button:hover{
        text-decoration: underline;
        text-decoration-thickness: .05em ;
        background-color: var(--black, black);
        color: var(--light, white);
    }
    .button--light{
        background-color: var(--light, white);
        color: var(--black, black);
    }
    .picture-box{
        margin: 0;
    }
    .picture-box__caption{
        color: var(--gray, gray);
        font-size: 0.8em;
        text-align: center;
        margin-top: .75em;
    }
    .text-h3{
        font-size: 1.125em;
        font-weight: 700;
        margin-bottom: 1em;
    }
    .outline-box{
        border: .2em solid var(--primary, aqua);
        padding: 1em;
        margin: 1em 0;
    }
    .list{
        margin: 3em 0;
    }
    .list > li::marker{
        color: var(--primary, aqua);
    }
    .list > li{
        margin: 1em 0;
    }
    .product{
        padding: 1em;
        max-width: 18em;
        display: inline-block;
    }
    .cards{
        margin: 5em 0;
    }

    .sale{
        margin-top: 3em;
        background-color: var(--gray, gray);
        color: var(--light, white); 
        text-align: center;
        padding: 5em 0 3em 0;
        font-size: 0.9em;
    }
    .sale-h{
        font-size: 3.5em;
    }
    .max{
        font-size: 2em;
    }
    .page__footer{
        background-color: var(--gray, gray);
        text-align: center;
        padding: 2em 0;
        margin-top: 6em;
    }
    .page__footer > a{
        color: var(--light, white);
        text-decoration: none;
    }
    .gallery{
        --indent: 0.5em;
        margin: calc(-1 * var(--indent));
    }
    .gallery__item{
        display: inline-block;
        margin: var(--indent);
    }

    @media (min-width: 768px) {
        .gallery__item{
            display: inline-block;
            width: calc(50% - 2 * var(--indent));
        }
        .gallery__item--100w{
            width: calc(100% - 2 * var(--indent));
        }
    }


};